.section{
    max-width: 1024px;
    margin: 0 auto;
    text-align: left;
    background-color: black;
    color: white;

}
img{
    height: 30vh;
    margin: 0 50vw;
    padding-left: 5vw;
    padding-top: 3vh;

}
.photo{
    display: flex;
    align-content: center;
    align-items: center;
    width: 50vw;
}
h1{
    text-align: center;
}